<footer class="{{ __dark_theme ? 'dark' : 'light' }} ">
  <template shadowrootmode="open">
    <link rel="stylesheet" href="{{ cdn('css/stylesTailwind.css') }}">
    <div class="bg-tile pt-8 mt-6">
      <div class="max-w-400 mx-auto px-3">
        <div class="lg:flex lg:justify-between">
          <div class="lg:flex lg:flex-col">
            <div class="mb-8 brand-logo"></div>
            <div class="max-lg:mb-8 max-lg:grid xs:grid-cols-2 md:grid-cols-4 gap-y-4
                      lg:flex lg:flex-col lg:justify-between lg:flex-grow-1">
              <div>
                <p class="text-neutral2-700">
                  Napisz do nas
                </p>
                <a href="mailto:{{ footerMenu.contactUsMail }}" class="text-sm text-neutral2-500">
                  {{ footerMenu.contactUsMail }}
                </a>
              </div>
              <div class="text-2xl space-x-2 text-neutral2-500">
                <a href="{{ footerMenu.contactUsFacebookHref }}" target="_blank">
                  {{ icon('contactUsFacebook') }}
                </a>
                <a href="{{ footerMenu.contactUsLinkedInHref }}" target="_blank">
                  {{ icon('contactUsLinkedIn') }}
                </a>
                <a href="{{ footerMenu.contactUsGithubHref }}" target="_blank">
                  {{ icon('contactUsGithub') }}
                </a>
              </div>
            </div>
          </div>
          <div class="grid xs:grid-cols-2 md:grid-cols-4 gap-y-8 
                    lg:gap-x-6 xl:gap-x-16 2xl:gap-x-28">
            {% for section in footerMenu.sections %}
              <div class="space-y-3">
                <p class="text-neutral2-600 text-lg font-semibold">
                  {{ section.title }}
                </p>
                {% for item in section.items %}
                  <a href="{{ item.href }}" class="block text-sm text-neutral2-500">
                    {{ item.title }}
                  </a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="mt-8 pb-4 text-xs text-neutral2-700">
          Copyright &copy; 2000 - {{ year }} 4programmers, {{ timer() }}
        </div>
      </div>
    </div>
  </template>
</footer>
