<div class="position-absolute neon-navigation-menu hidden group-hover:block" style="transform:translateX(-25%)">
  <div class="bg-neutral2-100 rounded-lg inline-block font-semibold border border-tile-border shadow-md">
    <div class="bg-neutral2-050 text-neutral2-600 text-xs py-3 px-4 space-x-4 rounded-t-lg border-b border-tile-border">
      {% for item in navigationMenu.headerItems %}
        <span title="{{ item.help }}">
          <span class="mr-1 {{ item.online ? 'text-green-500' }}">
            {{ icon(item.icon) }}
          </span>
          {{ item.title }}
        </span>
      {% endfor %}
    </div>
    <div class="p-4">
      <div class="flex gap-x-6">
        {% for category in navigationMenu.categories %}
          <div>
            <span class="text-neutral2-800 whitespace-nowrap">
              <span class="mr-2">
                {{ icon(category.icon) }}
              </span>
              {% if category.href is defined %}
                <a href="{{ category.href }}">
                  {{ category.title }}
                </a>
              {% else %}
                {{ category.title }}
              {% endif %}
            </span>
            <hr class="text-neutral2-050 mt-1 mb-1.5">
            <ul>
              {% for item in category.items %}
                {% if item.title %}
                  <li class="text-neutral2-500 text-xs hover-parent">
                    <a class="flex justify-between gap-15 py-1.5" href="{{ item.href }}">
                      <div>
                        <div class="text-sm whitespace-nowrap">
                          <span class="hover-me-text-green2-600 font-medium">{{ item.title }}</span>
                          {% if item.promoted %}
                            <span style="color:#ebb305;" class="ml-1 text-xs" title="Promowana kategoria.">
                              {{ icon('navigationCategoryPromoted') }}
                            </span>
                          {% endif %}
                          {% if item.trending %}
                            <span class="ml-1 text-xs text-green-500" title="Kategoria o wzrastającej popularności.">
                              {{ icon('navigationCategoryTrending') }}
                            </span>
                          {% endif %}
                        </div>
                        {% if item.subtitle is defined %}
                          <div class="font-normal whitespace-nowrap text-neutral2-400 hover-me-text-neutral2-500">
                            {{ item.subtitle }}
                          </div>
                        {% endif %}
                      </div>
                      <span class="font-normal whitespace-nowrap relative">
                        {{ item.count.short }}
                        <span class="absolute right-0 bg-neutral2-100 overflow-hidden transition-max-w max-w-0 hover-me-max-w-25">
                          {{ item.count.long }}
                        </span>
                      </span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <div class="text-green-500 text-sm mt-6">
        <a href="{{ navigationMenu.allCategoriesHref }}">
          Zobacz wszystkie kategorie
          <span class="ml-1">
            {{ icon('navigationAllCategories') }}
          </span>
        </a>
      </div>
    </div>
    {% if navigationMenu.footerItems is not empty %}
      <div
          class="bg-neutral2-050 text-neutral2-600 text-xs py-3 px-4 space-x-4 rounded-b-lg border-t border-tile-border">
        {% for item in navigationMenu.footerItems %}
          <a href="{{ item.href }}" title="{{ item.help }}">
            {{ item.title }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
